.description-cell {
    max-height: 100px;
    overflow-y: auto;
    vertical-align: middle;
}

.table th,
.table td {
    vertical-align: middle;
}

.table img {
    max-width: 100px;
    max-height: 100px;
}

.table-responsive {
    margin: 20px;
}
.table-dark {
    background-color: #2a52c3;
    color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #e8e8e8;
}

.table tbody tr:hover {
    background-color: #d1ecf1;
}

.text-primary {
    color: #2a52c3 !important;
}